
div{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}

h1{    
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.texto_atalho{
    width: 80%;
}